button {
    outline: none;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 4px;
    padding: 8px 16px;
    background-position: center;
    transition: all .5s;
}

@mixin btn ($type, $outline: false) {
    min-width: 72px;
    $buttonMainColor: map-get($button-theme-colors, $type);
    $buttonHoverColor: map-get($button-theme-colors, $type + '-hover');
    $buttonActiveColor: map-get($button-theme-colors, $type + '-active');

    @if not $outline {
        background-color: $buttonMainColor;
    }

    border: 1px solid $buttonMainColor;

    &:hover {
        background: $buttonHoverColor radial-gradient(circle, transparent 1%, $buttonHoverColor 1%) center/15000%;
        border: 1px solid $buttonHoverColor;
    }

    &:active {
        background-color: $buttonActiveColor;
        border: 1px solid $buttonActiveColor;
        background-size: 100%;
        transition: background 0s;
    }
}

.btn-create {
    @include btn(create);
}

.btn-edit {
    @include btn(edit);
}

.btn-delete {
    @include btn(delete);
}

.btn-outline-cancel {
    @include btn(cancel, true);
}





// %table-button {
//     display: inline-block;
//     vertical-align: middle;

//     &:not(:first-child) {
//         margin-left: 1rem;
//     }
// }

//  .btn-open {
//     @extend button;
//     @extend %table-button;

//     @include btn(create);
// }

// .btn-edit, .btn-in-progress {
//     @extend button;
//     @extend %table-button;

//     @include btn(edit);
// }

// .btn-delete, .btn-closed {
//     @extend button;
//     @extend %table-button;

//     @include btn(delete);
// }

// .btn-cancel, .btn-default {
//     @extend button;
//     @extend %table-button;

//     @include btn(cancel);
// }

