@mixin btn ($type) {
    $buttonColor: map-get($theme-colors, $type);
    background-color: $buttonColor;

    &:hover {
        background: darken($buttonColor, 15%) radial-gradient(circle, transparent 1%, darken($buttonColor, 15%) 1%) center/15000%;
    }

    &:active {
        background-color: lighten($buttonColor, 15%);
        background-size: 100%;
        transition: background 0s;
    }
}

%btn {
    padding: 5px 10px;
    border-radius: 5px;
    background-position: center;
    transition: background 0.8s;
    cursor: pointer;
}

%table-button {
    display: inline-block;
    vertical-align: middle;

    &:not(:first-child) {
        margin-left: 1rem;
    }
}

// .btn-create {
//     @include btn(create);
// }

.btn-edit {
    @extend %btn;
    @extend %table-button;

    @include btn(edit);
}

.btn-delete {
    @extend %btn;
    @extend %table-button;

    @include btn(delete);
}

// .btn-cancel {
//     @include btn(cancel);
// }

.btn-icon {
    position: relative;
    width: $icon-size-default;
    height: $icon-size-default;
    color: $color-icon;

    > svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparent;
    }
}