.datetime {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, 0.3);

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 16px 24px;
        background-color: $color-white;

        &__controller {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;

            &--title {
                cursor: pointer;
                padding: 8px 16px;
                min-width: 100px;
                text-align: center;
                color: $color-black;

                &:hover {
                    background-color: $color-gray;
                }
            }
        }

        &__calendar {
            display: grid;
            grid-template-columns: 32px 32px 32px 32px 32px 32px 32px;
            grid-row-gap: 8px;
            grid-column-gap: 8px;

            &--item {
                height: 32px;
                line-height: 32px;
                text-align: center;

                &--date {
                    color: $color-gray-dark-2;

                    &:hover {
                        background-color: $color-gray;
                        border-radius: 50%;
                        color: $color-black;
                        cursor: pointer;
                    }
                }

                &--label, &--primary-date {
                    color: $color-black;
                }

                &--active-date {
                    color: $color-navy;
                    background-color: $color-blue;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }

        &__month {
            display: grid;
            grid-template-columns: 68px 68px 68px 68px;

            &--item {
                margin: 8px;
                padding: 8px 16px;
                text-align: center;
                cursor: pointer;

                &:hover {
                    background-color: $color-gray;
                }
            }
        }

        &__year {
            display: grid;
            grid-template-columns: 88px 88px 88px ;
            grid-gap: 4px;

            &--item {
                padding: 8px 16px;
                text-align: center;
                cursor: pointer;

                &:hover {
                    background-color: $color-gray;
                }
            }
        }
    }
}