.dropdown {
    list-style: none;
    position: absolute;
    border-radius: $border-radius-small;
    -webkit-box-shadow: 0 0.5rem 4rem rgba($color-black, 0.3);
    -moz-box-shadow: 0 0.5rem 4rem rgba($color-black, 0.3);
    box-shadow: 0 0.5rem 4rem rgba($color-black, 0.3);

    > li {
        padding: $default-dimension $default-dimension * 2;
        background-color: $color-white;
        cursor: pointer;

        &:first-child {
            border-radius: $border-radius-small $border-radius-small 0 0;
        }

        &:last-child {
            border-radius: 0 0 $border-radius-small $border-radius-small;
        }

        &:hover {
            background-color: $color-gray;
        }
    }
}