.dropdown {
    list-style: none;
    position: absolute;
    border-radius: $border-radius-small;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(lighten($color-gray, 40%), 0.57);
    -moz-box-shadow: 0px 0px 10px 5px rgba(lighten($color-gray, 40%),0.57);
    box-shadow: 0px 0px 10px 5px rgba(lighten($color-gray, 40%),0.57);
    text-align: left;

    > li {
        padding: $default-dimension $default-dimension * 2;
        background-color: $color-white;
        cursor: pointer;

        &:first-child {
            border-radius: $border-radius-small $border-radius-small 0 0;
        }

        &:last-child {
            border-radius: 0 0 $border-radius-small $border-radius-small;
        }

        &:hover {
            background-color: lighten($color-gray, 40%);
        }
    }
}