.form {
    > h4 {
        text-transform: capitalize;
        margin-bottom: $default-dimension;
        font-size: 24px;
        font-weight: 300;

        &:not(:first-child) {
            margin-top: $default-dimension * 3;
        }
    }
}