.form {
    &__row {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 16px;
        }

        label {
            text-transform: uppercase;
            margin-bottom: 8px;
        }
    }

    &__input {
        outline: none;
        padding: 8px 16px;
        border: 1px solid $color-gray-dark-2;
    }
}