%input {
    outline: none;
    border: 1px solid lighten($color-gray, 25%);
    border-radius: 8px;
    font-size: 16px;
    background-color: $color-white;
}

select {
    @extend %input;

    text-transform: capitalize;
    background: url(assets/svg/sort-down.svg) no-repeat;
    background-position: right 8px top 50%;
    background-size: 8px;
    -webkit-appearance: none;
    padding: 8px 24px 8px 16px;
}

input {
    @extend %input;

    padding: 8px 16px;
}