%pagination_btn {
    border: 1px solid lighten($color-gray, 20%);
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: lighten($color-gray, 20%);
    transition: all 0.2s;

    &:hover {
        border: 1px solid $color-navy;
        color: $color-navy;
    }
}

.pagination {
    display: inline-block;

    &__prev {
        @extend %pagination_btn;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    &__next {
        @extend %pagination_btn;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: 10px;
    }

    &__number {
        @extend %pagination_btn;
        margin-left: 10px;
    }
}







