.pagination {
    list-style: none;

    &__item {
        display: inline-block;
        width: $default-dimension * 4;
        height: $default-dimension * 4;
        line-height: $default-dimension * 4;
        text-align: center;
        color: $color-black;
        cursor: pointer;

        &:not(:last-child) {
            margin-right: $default-dimension;
        }

        &--dots {
            pointer-events: none;
        }

        &--active {
            background-color: $color-navy;
            color: $color-white;
            border-radius: 50%;
        }

        &--disable {
            color: $color-gray-dark-2;
            pointer-events: none;
        }
    }
}