.table {
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(lighten($color-gray, 40%), 0.57);
    -moz-box-shadow: 0px 0px 10px 5px rgba(lighten($color-gray, 40%),0.57);
    box-shadow: 0px 0px 10px 5px rgba(lighten($color-gray, 40%),0.57);
    border-collapse: collapse;
    text-align: left;
    border-radius: $border-radius-medium;

    > thead,
    > tbody {
        > tr {
            > th {
                background-color: $table-header-background-color;

                &:first-child {
                    border-radius: $border-radius-medium 0 0 0;
                }

                &:last-child {
                    border-radius: 0 $border-radius-medium 0 0;
                }
            }

            > td {
                background-color: $color-white;
                vertical-align: top;
            }

            > th,
            > td {
                padding: $table-cell-padding;
            }

            &:not(:first-child) {
                border-top: 1px solid lighten($color-gray, 40%);
            }
        }
    }

    > thead  > tr {
        text-transform: uppercase;
        border-bottom: 2px solid lighten($color-gray, 40%);
    }

    > tbody > tr {
        cursor: pointer;

        &:hover {
            > td {
                background-color: lighten($color-gray, 46%);
            }
        }
    }

    > tfoot {
        > tr {
            > td {
                border-top: 1px solid lighten($color-gray, 40%);
                text-align: right;
                padding: $table-cell-padding;
                border-radius: 0 0 $border-radius-medium $border-radius-medium;
            }
        }
    }

    // //     &__button-box {
    // //         width: 1%;
    // //         white-space:nowrap;
    // //     }

    &__sort-icon {
        background-color: transparent;
        cursor: pointer;

        > svg {
            background-color: transparent;
        }
    }
}