.table {
    width: 100%;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(lighten($color-gray, 40%), 0.57);
    -moz-box-shadow: 0px 0px 10px 5px rgba(lighten($color-gray, 40%),0.57);
    box-shadow: 0px 0px 10px 5px rgba($color-gray, 0.3);
    border-collapse: collapse;
    text-align: left;
    border-radius: $border-radius-medium;

    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: $table-cell-padding;
                background-color: $color-white;
            }
        }
    }

    > thead > tr {
        text-transform: uppercase;

        &:first-child > th {
            border-radius: $border-radius-medium $border-radius-medium 0 0;
        }

        &:last-child > th {
            border-top: 1px solid lighten($color-gray, 40%);
            border-bottom: 2px solid lighten($color-gray, 40%);
        }
    }

    &__header {
        position: relative;

        &__search-input {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            outline: none;
            border: 1px solid lighten($color-gray, 40%);
            padding: $default-dimension / 2 $default-dimension;
            border-radius: $border-radius-medium;
        }

        &__pagination {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    > tbody > tr {
        cursor: pointer;
        vertical-align: top;

        &:hover > td {
            background-color: lighten($color-gray, 45%);
        }

        > td:first-child {
            border-radius: 0 0 0 $border-radius-medium;
        }

        > td:last-child {
            border-radius: 0 0 $border-radius-medium 0;
        }
    }

    // &__sort-icon {
    //     background-color: transparent;
    //     cursor: pointer;

    //     > svg {
    //         background-color: transparent;
    //     }
    // }
}