@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    font-family: 'open sans', arial,sans-serif;
}

body {
    letter-spacing: $default-letter-spacing;
    background-color: $color-background-default;
}