.status {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: $color-navy;
}

.status-open {
    // background-color: $color-success;
}

.status-isprogress {
    // background-color: $color-warning;
}

.status-closed {
    // background-color: $color-delete;
}