@mixin status ($type) {
    background-color: map-get($theme-colors, $type);
}

%status {
    padding: $default-dimension / 2 $default-dimension;
    border-radius: $border-radius-small;
    display: inline-block;
}

.status-open {
    @extend %status;
    @include status(open)
}

.status-in-progress {
    @extend %status;
    @include status(inprogress)
}

.status-closed {
    @extend %status;
    @include status(closed)
}