$soft-red: #ffddd9;
$soft-yellow: #feefd8;
$soft-green: #b3eee1;
$soft-blue: #c4e9fe;
$soft-gray: #f0f0f0;

$light-red: #f8b8b1;
$light-yellow: #ffddab;
$light-green: #9aeedc;
$light-gray: #bebebe;

$icon: #2c2834;