// Colors
// (main color)
$color-navy: navy;
$color-gray: gray;
$color-white: white;
$color-teal: teal;
$color-black: black;

// (custom color)
$theme-colors: (
    // 'primary': #c4e9fe,
    'cancel': #f0f0f0,
    'create': #b3eee1,
    'edit': #feefd8,
    'delete': #ffddd9,
    // 'info': #8affffee,
    'open': #ffddd9,
    'inprogress': #feefd8,
    'closed': #b3eee1,
);
// $color-primary: #c4e9fe;
// $color-secondary: #f0f0f0;
// $color-success: #b3eee1;
// $color-delete: #ffddd9;
// $color-warning: #feefd8;
// $color-info: #8affffee;

$color-background-default: #f6f5f8;
$color-icon: #2c2834;

// Dimensions
$default-dimension: 1rem;
$medium-dimension: 4rem;
$default-letter-spacing: .05rem;
$default-font-size: 0.8rem;
// (border radius)
$border-radius-xsmall: .3rem;
$border-radius-small: .5rem;
$border-radius-medium: 1rem;
$border-radius-large: 1.5rem;

// (table)
$table-header-background-color: #e9eff3;
$table-cell-padding: $default-dimension $default-dimension * 2;



$table-cell-line-height: 3rem;
$table-row-border-radius: 10px;
$table-row-margin-bottom: $default-dimension;

// (button - icon)
$button-border-radius: 5px;
$icon-size-default: 2rem;

// (modal)
$modal-width: 30rem;