.heading-primary {
    font-weight: 300;
    color: $color-black;
}

.text-highlight {
    background-color: map-get($theme-colors, edit);
}




.text-green { color: $color-green-dark; }

.text-red { color: $color-red-dark; }

.text-uppercase { text-transform: uppercase; }