.u-cursor-pointer { cursor: pointer; }

// margin
.u-margin-top { margin-top: $default-dimension; }
.u-margin-right-2 { margin-right: $default-dimension * 2; }

// border
.u-border-bottom { border-bottom: 1px solid $color-black; }