.u-text-left { text-align: left; }
.u-text-center { text-align: center; }
.u-text-right { text-align: right; }

.u-margin-top-xsmall { margin-top: 1rem; }
.u-margin-top-small { margin-top: 1.5rem; }
.u-margin-bottom-small { margin-bottom: 1.5rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
// .u-margin-bottom-big { margin-bottom: 8rem; }
.u-margin-right-xsmall { margin-right: 1rem; }
.u-margin-right-small { margin-right: 1.5rem; }

.u-margin-left-xsmall { margin-left: 8px; }
.u-margin-left-small { margin-left: 1.5rem; }

.u-border-bottom { border-bottom: 1px solid $color-gray; }

.u-display-inline-block { display: inline-block; }

.u-background-color-white { background-color: $color-white; }

.u-cursor-pointer { cursor: pointer; }

.u-red-circle {
    border-radius: 100px;
    background-color: darken(map-get($theme-colors, delete), 20%);
    width: 20px;
    height: 20px;
    padding: 5px;
    text-align: center;
    display: inline-block;
}